body{
    margin: 0;
    padding: 0;
}

header{
    display: inline;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    height: 90px;
    padding-top: 12px;
    padding-left: 33px;
    border: 1px solid #F0F3F7;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

nav div{
    display: inline-block;
}

.nav-warungpedia{
    color: #03AC0E;
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.nav-kategori{
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-family: 'Open Sauce One', sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.nav-kategori:hover{
    background-color: #F0F3F7;
}

.nav-search{
    height: 35px;
    width: 40%;
    border-radius: 10px;
    border: 1px solid #BFC9D9;
}

.search-icon{
    transform: translateY(25%);
    margin-left: 5px;
}

.input-search{
    border: none;
    outline: none;
    color: #212121;
    background-color: transparent;
    padding-left: 5px;
    transform: translateY(-10%);
    font-size: 14px;
}
.input-search::placeholder{
    color: #8D96AA;
}

.nav-troli{
    margin-left: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(10%);
    border-radius: 5px;
}

.troli-icon{
    padding-top: 3px;
}

.nav-troli:hover{
    background-color: #F0F3F7;
    cursor: pointer;
}

.nav-bel{
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(10%);
    border-radius: 5px;
}

.bel-icon{
    padding-top: 3px;
}

.nav-bel:hover{
    background-color: #F0F3F7;
    cursor: pointer;
}

.nav-surat{
    margin-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(10%);
    border-radius: 5px;
}

.surat-icon{
    padding-top: 3px;
}

.nav-surat:hover{
    background-color: #F0F3F7;
    cursor: pointer;
}

.nav-line{
    margin-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(10%);
    border-radius: 5px;
}

.line-icon{
    padding-top: 3px;
}

.nav-toko{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(10%);
    border-radius: 5px;
    width: 100px;
}

.toko-icon{
    padding-top: 3px;
}

.nav-toko:hover{
    background-color: #F0F3F7;
    cursor: pointer;
}

.nav-toko label{
    margin-left: 5px;
    position: relative;
    top: -5px;
    font-family: 'Open Sauce One', sans-serif;
    font-size: 14px;
}

.nav-profil{
    margin-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transform: translateY(10%);
    border-radius: 5px;
    width: 100px;
}

.profil-icon{
    padding-top: 3px;
}

.nav-profil:hover{
    background-color: #F0F3F7;
    cursor: pointer;
}

.nav-profil label{
    margin-left: 5px;
    position: relative;
    top: -5px;
    font-family: 'Open Sauce One', sans-serif;
    font-size: 14px;
}

/* ---------------------------------- */
main{
    margin-top: 15px;
}

.carousel{
    display: flex;
    justify-content: center;
}

.splide, .splide img{
    width: 1200px;
    height: 300px;
    border-radius: 20px;
}

.selection-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px;
    position: sticky;
    top: 120px;
    z-index: 1;
}

#backBtn, #nextBtn{
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

#backBtn{
    position: relative;
    left: 25px;
}

#nextBtn{
    position: relative;
    right: 25px;
}

.selection {
    width: 1215px;
    display: flex;
    overflow-x: scroll;
}

.selection::-webkit-scrollbar{
    display: none;
}

.selection div{
    display: flex;
    gap: 10px;
}

.selection div span{
    width: 200px;
    height: 50px;
    background-color: #A01F6F;
    border-radius: 10px;
    font-family: 'Open Sauce One', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.selection div span:nth-child(1),
.selection div span:nth-child(6){
    background: linear-gradient(90deg, rgba(159,32,113,1) 0%, rgba(182,32,129,1) 45%, rgba(201,34,140,1) 100%);
}
.selection div span:nth-child(2),
.selection div span:nth-child(7){
    background: linear-gradient(90deg, rgba(5,119,169,1) 0%, rgba(14,141,168,1) 50%, rgba(23,164,169,1) 100%);
}
.selection div span:nth-child(3), 
.selection div span:nth-child(5){
    background: linear-gradient(90deg, rgba(15,143,69,1) 0%, rgba(39,159,72,1) 50%, rgba(56,173,71,1) 100%);
}
.selection div span:nth-child(4){
    background: linear-gradient(90deg, rgba(234,144,22,1) 0%, rgba(245,166,14,1) 50%, rgba(252,186,3,1) 100%);
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 23px;
}

.card{
    width: 190px;
    height: 375px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.card:hover{
    cursor: pointer;
}

.card-content{
    margin: 10px;
    font-family: 'Open Sauce One', sans-serif;
}

.card-content .judul-content{
    font-size: 12px;
    color: #212121;
    font-weight: 500;
}

.card-content .harga-content{
    font-size: 14px;
    font-weight: 900;
    color: #212121;
}

.card-content .alamat-content{
    font-size: 11px;
    color: #6D7588;
}

.alamat-content img{
    width: 15px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 4px;
}

.card-content .rating-content{
    font-size: 11px;
    color: #6D7588;
}

.rating-content img{
    width: 17px;
    height: 18px;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

/* ---------------------------------- */

/* Responsive */

@media (min-width: 1025px) and (max-width: 1267px){
    .nav-search{
        width: 30%;
    }

    .nav-troli{
        margin-left: 25px;
    }

    .nav-toko{
        width: 85px;
    }

    .nav-profil{
        width: 85px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .nav-search{
        width: 25%;
    }

    .nav-troli{
        margin-left: 15px;
    }

    .nav-toko{
        width: 85px;
    }

    .nav-profil{
        width: 85px;
    }
}
